/* 
TABLE OF CONTENTS
  - GENERAL
  - HEADER
  - TOP SECTION
  - BOTTOM SECTION
  - FOOTER
  - HOVER EFFECTS
  - MOBILE
*/ 

/* GENERAL */

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
}

/* END GENERAL */

/* HEADER */

header {
  background-color: #75e2e6;
  border-bottom: solid 3px #048eaa;
  color: #000000;
  position: fixed;
  width: 100%;
}

#logo {
  padding: 5px 0% 5px 15px;
}

nav .fa-bars {
  display: none;
}

nav {
  float: right;
  position: absolute;
  top: 10%;
  right: 0;
}

nav li {
  display: inline;
}

nav a {
  color: black;
  padding-right: 20px;
}

/* END HEADER */

/* TOP SECTION */

#top {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("images/park.jpg");
  background-position: center 55%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

#top-center {
  display: block;
  margin: auto;
  width: 25%;
  min-width: 250px;
}

.dog {
  border: solid 5px #048eaa;
  border-radius: 150px;
  display: block;
  margin: 35px auto 40px auto;
  min-width: 160px;
  width: 50%;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 1.8em;
  margin: 0;
  padding: 30px 0 0 0;
  text-align: center;
}

h1 strong {
  white-space: nowrap;
}

strong, h2, a {
  font-weight: boldest;
}

label {
  bottom: 5px;
  color: white;
  font-size: 1em;
  position: relative;
  text-align: left;
}

input {
  border-width: 0;
  border-radius: 2px;
  font-size: 1.25em;
  margin: 0 0 8% 0;
  padding: 4% 0;
  width: 100%;
}

button[type=submit] {
  background-color: #75e2e6;
  color: black;
  font-size: 1em;
  margin: 0 0 8% 0;
  padding: 4% 0;
}

/* END TOP SECTION */

/* BOTTOM SECTION */

.clear:after {
  clear: both;
  content: "";
  display: table;
}

article {
  float: left;
  padding: 2%;
  width: 33%;
}

article h2 {
  text-align: center;
}

button {
  border-radius: 2px;
  border-width: 0;
  font-size: 1em;
  padding: 10px;
  width: 100%;
}

button:hover {
  background-color: #75e2e6;
  color: black;
}

.mobile-buttons button {
  display: none;
}

.desktop-buttons button {
  margin: 0 2% 2% 2%;
  width: 28.5%;
}

/* END BOTTOM SECTION */

/* FOOTER */

button, footer {
  background-color: #048eaa;
  color: white;
}

footer {
  text-align: center;
}

footer p {
  padding: 4% 0% 1% 0%;
}

footer svg {
  margin: 1% 1% 4%;
}

footer .svg-inline--fa path {
  fill: white;
}

/* END FOOTER */

/* HOVER EFFECTS */

nav a:hover, button:hover, .fa-bars:hover {
  cursor: pointer;
}

nav a:hover {
  color: white;
}

button[type=submit]:hover {
  background-color: #048eaa;
  color: white;
}

footer path:hover {
  fill: #75e2e6;
}

/* END HOVER EFFECTS */

/* MOBILE */

@media screen and (max-width: 680px) {
  nav {
    position: relative;
  }

  nav .fa-bars {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  nav ul {
    display: none;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 60px;
    width: 250px;
  }

  nav li {
    padding-left: 0;
  }
  
  nav a {
    background-color: #048eaa;
    color: white;
    display: block;
    font-size: 1.5em;
    padding: 10px 0 10px 0;
  }

  nav a:hover {
    background-color: #75e2e6;
    color: black;
  }

  article {
    display: block;
    float: none;
    margin: auto;
    width: 60%;
  }

  .mobile-buttons button {
    display: block;
  }

  .desktop-buttons button {
    display: none;
  }
}

/* END MOBILE */

